/* обнуление стилей браузеров для 
коректной верстки*/

/* убираем отступы */
* {
	padding: 0;
	margin: 0;
	border: 0;

}
/*для удобной верстки 
приснии отступов padding размеры блока не увеличиваются
при таки свойствах(без этих параметров блок будет увеличиваться
при добавлении отступов)
*/
*,*:before,*:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
/* убираем линии и обводки*/
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

/* делаем html5 теги блочными*/
nav,footer,header,aside {display: block;}
/* уравнивание шрифтов и окна */
html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/* заставляем эти теги наследовать 
шрифт так как по 
умолчанию они не наследют его*/
input,button,textarea{
	font-family: inherit;
}

/* убираем дефектные стили браузеров*/

/* в Internet Explorer 
убираем в поле ввода (text)
ненужный символ стирания текста*/

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*  обнуляем все заголовки <h> */
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
body {
padding: 40px;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.block {
	border: 5px solid red;
	/* 
	при назначении ширины 
	и при использовании 
	следующей комбинации отступов 
	блок распологается по 
	*/
	max-width: 800px;
	margin: 0px auto;
	height: 800px;
}
.block div {
	line-height: 50px;
font-size: 18px;
font-weight: 700;
text-align: center;
}
.bloc__1 {
background-color: #ece89d;
}
.bloc__2 {
background-color: #5e5373;
color: #fff;
position: relative;
left: 50px;
top: 100px;
}
.bloc__3 {
background-color: #18b5a4;
}
/*
Позыционирование:
---
position: static; - по умалчанию
---
position: relative;  - позиционирование
устанавливается относительно его изначального положения в коде
можно использовать такие свойства:
left: 0;
top: 0;
right: 0;
bottom: 0;
так же можно использовать отрицательные значения и одновременно все 4 свойтсва нельзя использовать только или
left:0;
top:0;
или 
right:0;
bottom:0;

---

*/