/* обнуление стилей браузеров для 
коректной верстки*/

/* убираем отступы */
* {
	padding: 0;
	margin: 0;
	border: 0;

}
/*для удобной верстки 
приснии отступов padding размеры блока не увеличиваются
при таки свойствах(без этих параметров блок будет увеличиваться
при добавлении отступов)
*/
*,*:before,*:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
/* убираем линии и обводки*/
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

/* делаем html5 теги блочными*/
nav,footer,header,aside {display: block;}
/* уравнивание шрифтов и окна */
html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/* заставляем эти теги наследовать 
шрифт так как по 
умолчанию они не наследют его*/
input,button,textarea{
	font-family: inherit;
}

/* убираем дефектные стили браузеров*/
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*  обнуляем все заголовки <h> */
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*
border: 20px dashed #000;	
сверху
border-top: 20px dashed #000;	
отлючение с какого либо бока бордюра
border-top: 0;
border-top: none;
радиус устанавливается без бордюра
то есть он просто закругляет углы
border-radius: 10px 10px 10px 10px;

пример как сделать круг и спрятать выходящий 
за рамки контент

.example-block {
border: 20px solid #000;	
width: 100px;
height: 100px;
overflow: hidden;
border-radius: 50%;
font-size: 50px;
margin: 0 0 30px 0;
}

внешний бордюр(можно указывать только для 
всех краев сразу и на него не действует 
радиус )
outline: 20px solid #000;

тень для блока
.example-block {
box-shadow: 5px 5px 10px 5px #000, inset 5px 5px 10px 5px #000;
font-size: 50px;
padding: 15px;
border-radius: 30px;
margin: 30px;
}

прозрачность элемента
opacity: 0.4;

скрывает и не дает возможности взаимодейтсвовать 
с блоком как нибудь(к примеру ссылки не работают)
visibility: none;
*/
.example-block {
visibility: hidden;
font-size: 50px;
}
.example-string {
font-size: 50px;
}
.example-image {
	border: 10px dotted #000;
}